{
    "chmod": "0755",
    "directories": [
        "src",
        "vendor"
    ],
    "files": [
        "LICENSE",
        "stuff/deployerfile.json.template"
    ],
    "main": "bin/git-deployer",
    "output": "git-deployer.phar",
    "git-version": "package_version",
    "stub": true,
    "key": "<PGP key fle here>",
    "key-pass": true
}